.loginOutterContainer {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.loginMainHeader {
  h1 {
    font-family: "Times New Roman", serif;
    letter-spacing: 1px;
    font-size: 2em;
  }
  @media only screen and (min-width:900px) {
    max-width: 400px;
  }
  @media only screen and (max-width:900px) and (min-width:500px){
    max-width: 350px;
  }
  @media only screen and (max-width:500px) {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
}

.accountForm {
  max-width: 500px;
  margin: 20vh auto;
  label {
    font-size: 1.3em;
    letter-spacing: 1px;
    display: block;
  }
  input {
    font-size: 1.3em;
    outline: none;
    background: none;
    border: none;
    text-align: left;
    border-bottom: 1px solid grey;
    transition: 0.4s all ease-in-out;
    &::placeholder {
      text-align: left;
    }
    &:focus {
      color: black;
      box-shadow: 5px 5px 1px $OhOrange;
      background: rgba($color: grey, $alpha: 0.4);
      padding: 5px;
      &::placeholder {
        color: black;
      }
    }
  }
  button {
    @include OhOrangeButton();
  }
  form {
    @include flexCenter(column, center, center);
    margin-bottom: 20px;
    .error {
      align-self: center;
      text-align: center;
      color: red;
      font-size: 1.3em;
      max-width: 80%;
    }
  }
  a {
    color: $OhOrange;
    text-decoration: none;
    transition: 0.4s all ease-in-out;
    &:hover {
      background: $OhOrange;
      color: white;
    }
  }
  * {
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
  }
  @media only screen and (max-width:900px) and (min-width:500px){
    width: 50%;
  }
}

.loggedLeftPage, .LoggedRightPage {
  min-width: 400px;
  @include flexCenter(column, center, center);
  @media only screen and (min-width:800px) {
    align-self: center;
    width: 40%;
  }
  @media only screen and (max-width:800px) {
    align-self: flex-start;
    width: 100%;
  }
}

.loggedLeftPage {
  h2 {
    margin: 10px;
    border-bottom: 1px solid grey;
  }
  span {
    @include flexCenter(row, center, center);
  }
  button {
    @include OhOrangeButton();
    border-radius: 10px;
  }
  button:nth-child(even){
    background: grey;
  }
  @media only screen and (min-width:800px) {
    width: 40%;
    font-size: 2em;
  }
  @media only screen and (max-width:800px) {
    width: 100%;
  }
}

.LoggedRightPage {

}

.loginHelperHeader {
  font-size: 2em;
  text-align: center;
  margin-bottom: 10px;
  border-bottom: 1px solid grey;
}

// .accountForm {
//   max-width: 500px;
//   @include fullPage();
//   text-align: center;
//   @include flexCenter(column);
//   form {
//     background: #a3a3a3;
//     max-width: 400px;
//     color: white;
//     font-size: larger;
//     @include flexCenter(column);
//     button {
//       @include OhOrangeButton();
//     }
//     input {
//       background: none;
//       border: none;
//       border-bottom: 2px solid white;
//       transition: 0.4s all ease-in-out;
//       &:focus {
//         border-bottom: 2px solid $OhOrange;
//         outline: none;
//         transition: 0.4s all ease-in-out;
//       }
//     }
//   }
// }

// .formRegister form {
//   height: 450px;
// }

// .formLogin form {
//   height: auto;
//   margin: 20px
// }

// .profileData {
//   border-bottom: 3px solid $OhOrange;
// }

// .profile {
//   display: flex;
//   flex-direction: row;
//   .profileCategories {
//     min-height: 200px;
//     height: auto;
//     @include flexCenter(column);
//     border-bottom: 1px solid grey;
//     button {
//       background: ghostwhite;
//       margin: 3px;
//       border: 1px solid darkgrey;
//     }
//   }
//   .personalInformation {
//     display: flex;
//     flex-direction: column;
//     h3 {
//       align-self: center;
//     }
//     button {
//       @include OhOrangeButton();
//       width: 100%;
//       &:hover {
//         box-shadow: none;
//         width: 75%;
//         transition: 0.5s all ease-in-out;
//       }
//     }
//   }
//   .profileContent {
//     @include flexCenter(column);
//   }
// }

// .personalData {
//   form {
//     @include flexCenter(column);
//     h5 {
//       margin-top: 20px;
//     }
//     button {
//       @include OhOrangeButton();
//     }
//   }
// }

// @media only screen and (min-width:900px) {
//   .accountForm form {
//     width: 400px;
//   }
//   .logoutButton {
//     position: fixed;
//     top: 8vh;
//     right: 0;
//     @include OhOrangeButton();
//     margin: 10px;
//     width: 150px;
//     &:hover {
//       width: 120px;
//     }
//   }
//   .profileCategories {
//     max-height: 300px;
//     width: 20vw;
//     @include flexCenter(column);
//   }
//   .profileContent {
//     width: 40vw;
//   }
// }

// @media only screen and (max-width:900px) {
//   .accountForm form {
//     width: 300px;
//   }
//   .logoutButton {
//     align-self: flex-end;
//     @include OhOrangeButton();
//     margin: 10px;
//     width: 150px;
//   }
//   .profile {
//     @include flexCenter(column);
//   }
//   .profileCategories {
//     width: 90vw;
//     @include flexCenter(column);
//   }
//   .profileContent {
//     width: 90vw;
//   }
// }
