* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: #dedede;
}

.fourOhFour {
  max-width: 500px;
  @include fullPage();
  h2 {
    margin-top: 50px;
    color: $OhOrange;
  }
}

.centeredText {
  text-align: center;
}

.categoryLogo {
  padding: 10px 0 10px 5px;
  width: 220px;
  height: 45px;
  box-shadow: 1px 1px 1px #5a5a5a;
  background: grey;
  color: white;
  letter-spacing: 1px;
  font-size: 1.6em;
  font-family: "Courier new", serif;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}

.popup {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  z-index: 7;
  h2 {
    @include flexCenter(column, center, center);
    margin-top: 8vh;
    background: $OhOrange;
    font-weight: lighter;
    letter-spacing: 1px;
    color: white;
    border-radius: 10px;
    width: 300px;
    height: 100px;
    text-align: center;
  }
}

@media only screen and (min-width:900px) {
  .content {
    padding: 5px 5px 5px 105px;
  }
}

@media only screen and (max-width:900px) {
  .content {
    padding: 0;
  }
}
