.banner {

  .info {
    margin: 0 auto;
    color: $OhOrange;
    font-family: Helvetica, cursive;
    text-align: center;
  }
  .product {
    margin: 0 auto;
    border-radius: 10px 10px 10px 15px;
    background-size: 150% 100%;
    background-position: left;
  }

// Big screen
 @media only screen and (min-width:900px){
   @include flexCenter(row, center, center);
  height: 90vh;
  .product {
    height: 80vh;
  }
 }
// Different font-sizes for different screen sizes
 @media only screen and (min-width:1400px) {
   .info {
     font-size: 4.5em;
     max-width: 600px;
   }
   .product {
     width: 700px;
   }
 }
 @media only screen and (max-width:1400px) and (min-width:1100px) {
   .info {
     font-size: 3.5em;
     max-width: 500px;
   }
   .product {
     width: 550px;
   }
 }
 @media only screen and (max-width:1100px) and (min-width:900px) {
   .info {
     font-size: 3.5em;
     max-width: 400px;
   }
   .product {
     width: 450px;
   }
 }
// Phone view
 @media only screen and (max-width:900px){
   @include flexCenter(row, center, center);
   .info {
     font-size: 2.2em;
     padding: 5px;
   }
   .product {
     min-width: 350px;
     max-width: 90vh;
     margin-top: 10px;
     height: 65vh;
   }
 }
}



// @media only screen and (max-width:1500px) {
//   .info {
//     font-size: 4em;
//     max-width: 400px;
//   }
//   .product {
//     width: 500px;
//     height: 70vh;
//   }
//  }

//  @media only screen and (max-width:1000px) {
//   .info {
//     font-size: 2em;
//     max-width: 200px;
//   }
//   .product {
//     width: 500px;
//     height: 50vh;
//   }
//  }

