// Main nav
.navbar {
  padding: 0;
  height: 100vh;
  width: 100px;
  position: fixed;
  left: 0;
  top: 0;
  @include flexCenter(column, space-around, center);
  background: linear-gradient(145deg, $OhOrange 16%, grey 10%);
  box-shadow: 2px 1px 1px #888888;
  font-family: "Courier new", serif;
  transition: all 0.5s ease-in-out;
  z-index: 7;
  font-size: 2.2em;
  * {
     color: white;
   }
  .logo {
    margin-bottom: auto;
    margin-top: 20px;
    height: 100px;
  }
  .links {
    @include flexCenter(column, space-around, center);
    min-height: 300px;
    max-height: 400px;
    height: 50vh;
    width: 100%;
  }
  .navbarLogoutIcon {
    margin-top: auto;
    cursor: pointer;
    margin-bottom: 20px;
  }
  .navbarLink {
    transition: all 0.5s ease-in-out;
  }
  @media only screen and (min-width:901px) {

  }
  @media only screen and (max-width:900px) {

  }
}

.navbar-icon-active {
  color: $OhOrange;
  transition: all 0.5s ease-in-out;
}

//.navAccount {
//  @include flexCenter(row);
//  flex-wrap: nowrap;
//  color: white;
//  text-align: center;
//  .loginIcon {
//    background: white;
//    display: inline-block;
//    border-radius: 50%;
//    padding: 5px;
//    color: $OhOrange;
//    &:hover {
//      background: $OhOrange;
//      color: white !important;
//    }
//  }
//  @media only screen and (min-width:901px) {
//    padding-right: 10px;
//    font-size: 1.7em;
//    i {
//      margin: 10px;
//      transition: 0.5s all ease-in-out;
//      &:hover {
//        cursor: pointer;
//        color: $OhOrange;
//      }
//    }
//  }
//  @media only screen and (max-width:900px) {
//    i {
//      font-size: 2em;
//      margin: 0 20px 0 20px;
//    }
//  }
//}
//
//// Left side of nav
//.logo {
//  h5 {
//    font-family: "Times New Roman", serif;
//    letter-spacing: 1.5px;
//    margin-left: 10px;
//    color: white;
//    @media only screen and (min-width:900px){
//      font-size: 2em;
//    }
//    @media only screen and (max-width:900px) {
//      margin-top: 5px;
//      font-size: 2em;
//    }
//    &:hover {
//      cursor: pointer;
//    }
//  }
//}
//
//// Middle of nav
//.links {
//  @media only screen and (min-width:1200px){
//    font-size: 1.9em;
//  }
//  @media only screen and (max-width:1200px) and (min-width:1000px) {
//    font-size: 1.5em;
//  }
//  @media only screen and (max-width:1000px) and (min-width:901px) {
//    font-size: 1.3em;
//  }
//  @media only screen and (min-width: 900px) {
//    @include flexCenter(row);
//  }
//  @media only screen and (max-width:900px) {
//    height: 75vh;
//    width: 100%;
//    display: flex;
//    flex-direction: column;
//    justify-content: space-evenly;
//    align-items: center;
//    a {
//      font-size: 2em;
//      width: 100%;
//      margin: 20px 0 20px 0;
//    }
//  }
//}
//
//.navlink {
//  color: white;
//  text-align: center;
//  margin: 0 15px 0 15px;
//  transition: 0.5s all ease-in-out;
//  @media only screen and (min-width:1000px) {
//    &:hover {
//      font-size: 1.2em;
//      transition: 0.5s all ease-in-out;
//    }
//  }
//}
//
//// Burger for mobile
//.burger {
//  @media only screen and (min-width:900px) {
//    display: none;
//  }
//  @media only screen and (max-width:900px) {
//    display: block;
//    z-index: 10;
//    position: fixed;
//    right: 15px;
//    top: 10px;
//    padding: 7.5px;
//    transition: 0.5s all ease;
//    div{
//      width: 35px;
//      height: 4px;
//      background-color: rgb(189, 189, 189);
//      margin: 5px;
//      transition: all 0.3s ease;
//    }
//  }
//}
//
//// Header for mobile
//.header {
//  padding: 0;
//  width: 100%;
//  height: 75px;
//  position: fixed;
//  top: 0;
//  background: linear-gradient(145deg, $OhOrange 40%, grey 10%);
//  background-size: 100% 100%;
//  box-shadow: 1px 1px 1px #888888;
//  text-align: left;
//  transition: all 0.5s ease-in-out;
//  z-index: 5;
//  .navLogo {
//    display: flex;
//    flex-direction: column;
//    justify-content: center;
//    align-items: flex-start;
//    flex-wrap: nowrap;
//    height: 75px;
//    font-family: "Times New Roman", serif;
//    letter-spacing: 1.5px;
//    font-weight: lighter;
//    padding: 10px;
//    font-size: 2em;
//    color: white;
//  }
//  @media only screen and (min-width: 900px) {
//    display: none;
//  }
//  @media only screen and (max-width: 900px) {
//    display: block;
//  }
//}
//
//// General media
//@media only screen and (max-width: 900px) {
//  .navbar-active {
//    left: 0;
//    transition: 0.5s all ease;
//  }
//  .navbar-inactive {
//    left: -100%;
//  }
//}
