// Product view
.productViewDiv {
    position: fixed;
    padding-top: 5px;
    right: 0;
    background: rgba($color: #f0f0f0, $alpha: 0.95);
    box-shadow: 1px 5px 10px #888888;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    z-index: 6;
    @media only screen and (min-width:900px) {
        top: 80px;
        height: calc(100vh - 80px);
    }
    @media only screen and (max-width:900px) {
        top: 75px;
        height: calc(100vh - 75px);
    }
    @media only screen and (min-width:550px) {
        min-width: 550px;
        max-width: 600px;
    }
    @media only screen and (max-width:550px) {
        width: 100%;
    }
}

.productDivBuyButton {
    align-self: center;
    @include OhOrangeButton();
}

.closeProductView {
    position: fixed; 
    top: 0;
    left: 0;
    margin-left: 10px;
    font-size: 2.5em;
    color: $OhOrange;
    cursor: pointer;
    z-index: 7;
}

.productViewMainImage {
    height: 300px;
    border-radius: 10px;
    @media only screen and (min-width:500px) {
        width: 80%;
        margin-left: 15%;
        margin-right: 5%;
    }
    @media only screen and (max-width:500px) {
        width: 100%;
    }
}

.productViewImages {
    margin-top: 5px;
    height: 130px;
    width: 90%;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.productViewProductImages {
    margin: 5px;
    height: 100px;
}

.productViewProductName {
    align-self: center;
    text-align: center;
    width: 90%;
    margin-left: 10px;
    border-bottom: 1px solid grey;
}

.productViewProductPrice {
    align-self: flex-end;
    margin-right: 20px;
}

// Full screen image
.fullScreenImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 95%;
    height: 95vh;
    margin-top: 2.5vh;
    margin-left: 2.5vh;
    background: red;
    z-index: 7;
    .closeProductView {
        margin-left: 15px;
    }
}