.productBox-product-active {
  background: rgba($color: white, $alpha: 0.5);
}

.productBox-product-inactive {
  background: rgba($color: red, $alpha: 0.5);
}

.productBox-product-needFix {
  background: rgba($color: green, $alpha: 0.5);
}

.employeesRender {
  width: 90%;
  margin: 0 auto;
}

.productImageOptionsPanel {
  margin: 0 auto;
}

.imagesRenderer {
  @include flexCenter(column, flex-start, center);
  position: absolute;
  top: 0;
  right: 0;
  background: rgba($color: white, $alpha: 0.85);
  height: 100vh;
  width: 300px;
  transition: 0.5s all ease-in-out;
}

.removeImageButton {
  cursor: pointer;
  color: $OhOrange;
}

.productOptionsButton {
  @include flexCenter(column, center, center);
  cursor: pointer;
  width: 80%;
  min-width: 100px;
  max-width: 200px;
  height: 30px;
  font-size: large;
  margin: 10px auto;
  border-radius: 10px;
  color: white;
  background: $OhOrange;
  border: 1px solid grey;
  box-shadow: 1px 1px 1px #888888;
  transition: 0.5s all ease-in-out;
  @media only screen and (min-width: 900px) {
    &:hover {
      box-shadow: none;
      width: 70%;
      transition: 0.5s all ease-in-out;
    }
  }
}

.employeesTop {
  display: flex;
  flex-direction: column;

  span {
    @include flexCenter(row, space-between, center);

    h4 {
      margin-right: 6px;
      margin-left: 6px;
      font-weight: lighter;
      letter-spacing: 0.6px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: $OhOrange;
        transition: all 0.2s ease-in-out;
      }
    }
  }

  button {
    @include button();
  }

  .addEmployee {
    color: $OhOrange;
    padding-top: 10px;
    font-size: 1.3em;
  }

  input {
    margin-top: 10px;
    font-size: large;
    background: none;
    padding-left: 10px;
    border: 1px solid darkgrey;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;

    &:focus {
      color: black;
      background: rgba(255, 255, 255, 0.6);
      border-bottom: 1px solid $OhOrange;
      outline: none;
      transition: all 0.5s ease-in-out;
    }
  }

  .filter {
    font-size: 1.1em;
    width: 180px;
    height: 25px;
    margin: 10px 3px;
    outline: none;
    background: #e7e7e7;
    color: #5e5e5e;
    border: none;
    box-shadow: 0 1px 1px #888888;
    border-radius: 10px;
  }

  .findEmployees {
    font-size: 1.1em;
    width: 180px;
    height: 30px;
    margin: 10px 3px;
    background: #e7e7e7;
    border: none;
    box-shadow: 0 1px 1px #888888;
    border-radius: 10px;
    transition: 0.5s all ease;

    &:focus {
      width: 210px;
      height: 35px;
      font-size: 1.25em;
      background: $OhOrange;
      color: white;
      outline: none;
      transition: 0.5s all ease;

      &::placeholder {
        color: white;
      }
    }
  }
}

.employeeseTable {
  border-collapse: collapse;
  width: 100%;

  td,
  th {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 8px;

    .productsIcon {
      font-size: 20px;
    }
  }

  tr {
    background: rgb(245, 245, 245);
  }
}

.tableInputTd {
  width: 35px;

  input {
    height: 30px;
    vertical-align: bottom;
  }
}

.productTR-inactive {
  background: linear-gradient(90deg, $OhOrange 2%, rgb(245, 245, 245) 2%) !important;
  background-size: 100% 100% !important;
  transition: all 0.5s ease-in-out;
}

.productTR-active {
  background: linear-gradient(90deg, $OhOrange 2%, rgb(245, 245, 245) 2%) !important;
  background-size: 5000% 100% !important;
  transition: all 0.5s ease-in-out;
}

.employeeForm {
  height: 100vh;
  @include flexCenter(column, center, center);

  form {
    @include flexCenter(column, space-between, center);

    * {
      font-size: 1em;
      margin: 5px;
    }
  }
}
