* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: #dedede;
}

.fourOhFour {
  max-width: 500px;
  margin: 4vh auto;
  text-align: center;
}
.fourOhFour h2 {
  margin-top: 50px;
  color: #F9673B;
}

.centeredText {
  text-align: center;
}

.categoryLogo {
  padding: 10px 0 10px 5px;
  width: 220px;
  height: 45px;
  box-shadow: 1px 1px 1px #5a5a5a;
  background: grey;
  color: white;
  letter-spacing: 1px;
  font-size: 1.6em;
  font-family: "Courier new", serif;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}

.popup {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  z-index: 7;
}
.popup h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 8vh;
  background: #F9673B;
  font-weight: lighter;
  letter-spacing: 1px;
  color: white;
  border-radius: 10px;
  width: 300px;
  height: 100px;
  text-align: center;
}

@media only screen and (min-width: 900px) {
  .content {
    padding: 5px 5px 5px 105px;
  }
}
@media only screen and (max-width: 900px) {
  .content {
    padding: 0;
  }
}
.navbar {
  padding: 0;
  height: 100vh;
  width: 100px;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background: linear-gradient(145deg, #F9673B 16%, grey 10%);
  box-shadow: 2px 1px 1px #888888;
  font-family: "Courier new", serif;
  transition: all 0.5s ease-in-out;
  z-index: 7;
  font-size: 2.2em;
}
.navbar * {
  color: white;
}
.navbar .logo {
  margin-bottom: auto;
  margin-top: 20px;
  height: 100px;
}
.navbar .links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  min-height: 300px;
  max-height: 400px;
  height: 50vh;
  width: 100%;
}
.navbar .navbarLogoutIcon {
  margin-top: auto;
  cursor: pointer;
  margin-bottom: 20px;
}
.navbar .navbarLink {
  transition: all 0.5s ease-in-out;
}
.navbar-icon-active {
  color: #F9673B;
  transition: all 0.5s ease-in-out;
}

.loginOutterContainer {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.loginMainHeader h1 {
  font-family: "Times New Roman", serif;
  letter-spacing: 1px;
  font-size: 2em;
}
@media only screen and (min-width: 900px) {
  .loginMainHeader {
    max-width: 400px;
  }
}
@media only screen and (max-width: 900px) and (min-width: 500px) {
  .loginMainHeader {
    max-width: 350px;
  }
}
@media only screen and (max-width: 500px) {
  .loginMainHeader {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
}

.accountForm {
  max-width: 500px;
  margin: 20vh auto;
}
.accountForm label {
  font-size: 1.3em;
  letter-spacing: 1px;
  display: block;
}
.accountForm input {
  font-size: 1.3em;
  outline: none;
  background: none;
  border: none;
  text-align: left;
  border-bottom: 1px solid grey;
  transition: 0.4s all ease-in-out;
}
.accountForm input::placeholder {
  text-align: left;
}
.accountForm input:focus {
  color: black;
  box-shadow: 5px 5px 1px #F9673B;
  background: rgba(128, 128, 128, 0.4);
  padding: 5px;
}
.accountForm input:focus::placeholder {
  color: black;
}
.accountForm button {
  width: 80%;
  min-width: 150px;
  max-width: 300px;
  height: 45px;
  padding: 3px;
  font-size: x-large;
  margin: 10px 0;
  color: white;
  background: #F9673B;
  letter-spacing: 1.5px;
  border: 1px solid grey;
  box-shadow: 1px 1px 1px #888888;
  transition: 0.5s all ease-in-out;
  cursor: pointer;
}
@media only screen and (min-width: 900px) {
  .accountForm button:hover {
    box-shadow: none;
    width: 70%;
    transition: 0.5s all ease-in-out;
  }
}
.accountForm form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.accountForm form .error {
  align-self: center;
  text-align: center;
  color: red;
  font-size: 1.3em;
  max-width: 80%;
}
.accountForm a {
  color: #F9673B;
  text-decoration: none;
  transition: 0.4s all ease-in-out;
}
.accountForm a:hover {
  background: #F9673B;
  color: white;
}
.accountForm * {
  text-align: center;
  margin-top: 3px;
  margin-bottom: 3px;
}
@media only screen and (max-width: 900px) and (min-width: 500px) {
  .accountForm {
    width: 50%;
  }
}

.loggedLeftPage, .LoggedRightPage {
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media only screen and (min-width: 800px) {
  .loggedLeftPage, .LoggedRightPage {
    align-self: center;
    width: 40%;
  }
}
@media only screen and (max-width: 800px) {
  .loggedLeftPage, .LoggedRightPage {
    align-self: flex-start;
    width: 100%;
  }
}

.loggedLeftPage h2 {
  margin: 10px;
  border-bottom: 1px solid grey;
}
.loggedLeftPage span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.loggedLeftPage button {
  width: 80%;
  min-width: 150px;
  max-width: 300px;
  height: 45px;
  padding: 3px;
  font-size: x-large;
  margin: 10px 0;
  color: white;
  background: #F9673B;
  letter-spacing: 1.5px;
  border: 1px solid grey;
  box-shadow: 1px 1px 1px #888888;
  transition: 0.5s all ease-in-out;
  cursor: pointer;
  border-radius: 10px;
}
@media only screen and (min-width: 900px) {
  .loggedLeftPage button:hover {
    box-shadow: none;
    width: 70%;
    transition: 0.5s all ease-in-out;
  }
}
.loggedLeftPage button:nth-child(even) {
  background: grey;
}
@media only screen and (min-width: 800px) {
  .loggedLeftPage {
    width: 40%;
    font-size: 2em;
  }
}
@media only screen and (max-width: 800px) {
  .loggedLeftPage {
    width: 100%;
  }
}

.loginHelperHeader {
  font-size: 2em;
  text-align: center;
  margin-bottom: 10px;
  border-bottom: 1px solid grey;
}

.banner .info {
  margin: 0 auto;
  color: #F9673B;
  font-family: Helvetica, cursive;
  text-align: center;
}
.banner .product {
  margin: 0 auto;
  border-radius: 10px 10px 10px 15px;
  background-size: 150% 100%;
  background-position: left;
}
@media only screen and (min-width: 900px) {
  .banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 90vh;
  }
  .banner .product {
    height: 80vh;
  }
}
@media only screen and (min-width: 1400px) {
  .banner .info {
    font-size: 4.5em;
    max-width: 600px;
  }
  .banner .product {
    width: 700px;
  }
}
@media only screen and (max-width: 1400px) and (min-width: 1100px) {
  .banner .info {
    font-size: 3.5em;
    max-width: 500px;
  }
  .banner .product {
    width: 550px;
  }
}
@media only screen and (max-width: 1100px) and (min-width: 900px) {
  .banner .info {
    font-size: 3.5em;
    max-width: 400px;
  }
  .banner .product {
    width: 450px;
  }
}
@media only screen and (max-width: 900px) {
  .banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .banner .info {
    font-size: 2.2em;
    padding: 5px;
  }
  .banner .product {
    min-width: 350px;
    max-width: 90vh;
    margin-top: 10px;
    height: 65vh;
  }
}

.productViewDiv {
  position: fixed;
  padding-top: 5px;
  right: 0;
  background: rgba(240, 240, 240, 0.95);
  box-shadow: 1px 5px 10px #888888;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  z-index: 6;
}
@media only screen and (min-width: 900px) {
  .productViewDiv {
    top: 80px;
    height: calc(100vh - 80px);
  }
}
@media only screen and (max-width: 900px) {
  .productViewDiv {
    top: 75px;
    height: calc(100vh - 75px);
  }
}
@media only screen and (min-width: 550px) {
  .productViewDiv {
    min-width: 550px;
    max-width: 600px;
  }
}
@media only screen and (max-width: 550px) {
  .productViewDiv {
    width: 100%;
  }
}

.productDivBuyButton {
  align-self: center;
  width: 80%;
  min-width: 150px;
  max-width: 300px;
  height: 45px;
  padding: 3px;
  font-size: x-large;
  margin: 10px 0;
  color: white;
  background: #F9673B;
  letter-spacing: 1.5px;
  border: 1px solid grey;
  box-shadow: 1px 1px 1px #888888;
  transition: 0.5s all ease-in-out;
  cursor: pointer;
}
@media only screen and (min-width: 900px) {
  .productDivBuyButton:hover {
    box-shadow: none;
    width: 70%;
    transition: 0.5s all ease-in-out;
  }
}

.closeProductView {
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 10px;
  font-size: 2.5em;
  color: #F9673B;
  cursor: pointer;
  z-index: 7;
}

.productViewMainImage {
  height: 300px;
  border-radius: 10px;
}
@media only screen and (min-width: 500px) {
  .productViewMainImage {
    width: 80%;
    margin-left: 15%;
    margin-right: 5%;
  }
}
@media only screen and (max-width: 500px) {
  .productViewMainImage {
    width: 100%;
  }
}

.productViewImages {
  margin-top: 5px;
  height: 130px;
  width: 90%;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.productViewProductImages {
  margin: 5px;
  height: 100px;
}

.productViewProductName {
  align-self: center;
  text-align: center;
  width: 90%;
  margin-left: 10px;
  border-bottom: 1px solid grey;
}

.productViewProductPrice {
  align-self: flex-end;
  margin-right: 20px;
}

.fullScreenImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 95%;
  height: 95vh;
  margin-top: 2.5vh;
  margin-left: 2.5vh;
  background: red;
  z-index: 7;
}
.fullScreenImage .closeProductView {
  margin-left: 15px;
}

.productBox-product-active {
  background: rgba(255, 255, 255, 0.5);
}

.productBox-product-inactive {
  background: rgba(255, 0, 0, 0.5);
}

.productBox-product-needFix {
  background: rgba(0, 128, 0, 0.5);
}

.employeesRender {
  width: 90%;
  margin: 0 auto;
}

.productImageOptionsPanel {
  margin: 0 auto;
}

.imagesRenderer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.85);
  height: 100vh;
  width: 300px;
  transition: 0.5s all ease-in-out;
}

.removeImageButton {
  cursor: pointer;
  color: #F9673B;
}

.productOptionsButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
  width: 80%;
  min-width: 100px;
  max-width: 200px;
  height: 30px;
  font-size: large;
  margin: 10px auto;
  border-radius: 10px;
  color: white;
  background: #F9673B;
  border: 1px solid grey;
  box-shadow: 1px 1px 1px #888888;
  transition: 0.5s all ease-in-out;
}
@media only screen and (min-width: 900px) {
  .productOptionsButton:hover {
    box-shadow: none;
    width: 70%;
    transition: 0.5s all ease-in-out;
  }
}

.employeesTop {
  display: flex;
  flex-direction: column;
}
.employeesTop span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.employeesTop span h4 {
  margin-right: 6px;
  margin-left: 6px;
  font-weight: lighter;
  letter-spacing: 0.6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.employeesTop span h4:hover {
  color: #F9673B;
  transition: all 0.2s ease-in-out;
}
.employeesTop button {
  width: 80%;
  min-width: 150px;
  max-width: 300px;
  height: 30px;
  font-size: large;
  margin: 10px 0;
  border-radius: 10px;
  color: white;
  background: #F9673B;
  border: 1px solid grey;
  box-shadow: 1px 1px 1px #888888;
  transition: 0.5s all ease-in-out;
}
@media only screen and (min-width: 900px) {
  .employeesTop button:hover {
    box-shadow: none;
    width: 70%;
    transition: 0.5s all ease-in-out;
  }
}
.employeesTop .addEmployee {
  color: #F9673B;
  padding-top: 10px;
  font-size: 1.3em;
}
.employeesTop input {
  margin-top: 10px;
  font-size: large;
  background: none;
  padding-left: 10px;
  border: 1px solid darkgrey;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.employeesTop input:focus {
  color: black;
  background: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid #F9673B;
  outline: none;
  transition: all 0.5s ease-in-out;
}
.employeesTop .filter {
  font-size: 1.1em;
  width: 180px;
  height: 25px;
  margin: 10px 3px;
  outline: none;
  background: #e7e7e7;
  color: #5e5e5e;
  border: none;
  box-shadow: 0 1px 1px #888888;
  border-radius: 10px;
}
.employeesTop .findEmployees {
  font-size: 1.1em;
  width: 180px;
  height: 30px;
  margin: 10px 3px;
  background: #e7e7e7;
  border: none;
  box-shadow: 0 1px 1px #888888;
  border-radius: 10px;
  transition: 0.5s all ease;
}
.employeesTop .findEmployees:focus {
  width: 210px;
  height: 35px;
  font-size: 1.25em;
  background: #F9673B;
  color: white;
  outline: none;
  transition: 0.5s all ease;
}
.employeesTop .findEmployees:focus::placeholder {
  color: white;
}

.employeeseTable {
  border-collapse: collapse;
  width: 100%;
}
.employeeseTable td,
.employeeseTable th {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.employeeseTable td .productsIcon,
.employeeseTable th .productsIcon {
  font-size: 20px;
}
.employeeseTable tr {
  background: whitesmoke;
}

.tableInputTd {
  width: 35px;
}
.tableInputTd input {
  height: 30px;
  vertical-align: bottom;
}

.productTR-inactive {
  background: linear-gradient(90deg, #F9673B 2%, whitesmoke 2%) !important;
  background-size: 100% 100% !important;
  transition: all 0.5s ease-in-out;
}

.productTR-active {
  background: linear-gradient(90deg, #F9673B 2%, whitesmoke 2%) !important;
  background-size: 5000% 100% !important;
  transition: all 0.5s ease-in-out;
}

.employeeForm {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.employeeForm form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.employeeForm form * {
  font-size: 1em;
  margin: 5px;
}

.productsFormContainer {
  position: fixed;
  background: rgba(128, 128, 128, 0.6);
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.productsFormContainer .exit {
  cursor: pointer;
  position: absolute;
  color: #F9673B;
  top: 5px;
  right: 5px;
}
.productsFormContainer form {
  min-width: 300px;
  font-size: 1.5em;
  padding: 10px;
  background: #dedede;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  letter-spacing: 1px;
}
.productsFormContainer form label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: black;
}
.productsFormContainer form select {
  font-size: 0.7em;
  width: 150px;
  height: 25px;
  margin: 3px;
  background: #cecece;
  border: none;
  box-shadow: 0 1px 1px #888888;
  border-radius: 10px;
}
.productsFormContainer form section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.productsFormContainer form input, .productsFormContainer form textarea {
  font-size: 0.7em;
  width: 150px;
  height: 25px;
  margin: 3px;
  margin-bottom: 10px;
  background: #cecece;
  border: none;
  box-shadow: 0 1px 1px #888888;
  border-radius: 10px;
  transition: 0.5s all ease;
}
.productsFormContainer form textarea:focus {
  height: 8em;
  width: 10em;
  font-size: 0.8em;
}
.productsFormContainer form [type=text]:focus, .productsFormContainer form [type=number]:focus {
  width: 200px;
  height: 30px;
  font-size: 1em;
  background: #F9673B;
  outline: none;
  transition: 0.5s all ease;
}
.productsFormContainer form [type=file] {
  width: 90%;
}
.productsFormContainer form [type=checkbox] {
  width: 10%;
}
.productsFormContainer form button {
  cursor: pointer;
  width: 80%;
  min-width: 150px;
  max-width: 300px;
  height: 30px;
  font-size: large;
  margin: 10px 0;
  border-radius: 10px;
  color: white;
  background: #F9673B;
  border: 1px solid grey;
  box-shadow: 1px 1px 1px #888888;
  transition: 0.5s all ease-in-out;
}
@media only screen and (min-width: 900px) {
  .productsFormContainer form button:hover {
    box-shadow: none;
    width: 70%;
    transition: 0.5s all ease-in-out;
  }
}
.productsFormContainer form * {
  padding: 3px;
}
@media only screen and (min-width: 900px) {
  .productsFormContainer {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
  }
}
@media only screen and (max-width: 900px) {
  .productsFormContainer {
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
  }
}

/*# sourceMappingURL=style.css.map */
